<div class="row">
    {{#if courses.length}}

        <h1>Курсы</h1>
        {{#each courses}}
            <div class="col s6">
                <div class="card">
                    <div class="card-image">
                        <img src={{this.img}}>
                    </div>
                    <a href="courses/{{this.id}}" target="_blank">
                        <h1 class="card-title" style="text-align:center;">{{this.title}}</h1>
                    </a>
                    <div class="card-content">
                        <p>{{this.description}}</p>
                    </div>
                    <div class="card-action">
                        <h4 class="price">{{this.price}}</h4>
                        <a href="courses/{{this.id}}/edit?allow=true">
                            <h1 class="card-title" style="text-align:center;">Edit</h1>
                        </a>
                        <form action="/card/add" method="POST">
                            <input type="hidden" name="id" value="{{this.id}}">
                            <button type="submit" class="btn btn-primary">Buy</button>
                        </form>
                    </div>
                </div>
            </div>
        {{/each}}
    {{else}}
        <h1>Курсов нет!</h1>
    {{/if}}

</div>